
<table
	id="table-team"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th
				data-field="name"
				data-sortable="true"
			>
				<span data-localize="team_name">Key combination</span>
			</th>
			<th>
				<span data-localize="team_contrib">Actions</span>
			</th>
			<th>
				<span data-localize="team_contrib">Notes</span>
			</th>
		</tr>
	</thead>
	<tbody>
{%-for key in site.data.keymap-%}
    <tr>
			<td>{% kbd !key.combination %}</td>
			<td>
				{% assign words = key.action | split: ":" | last | split: '-' %}
				{% capture action %}
					{% for word in words %}{{ word | capitalize }} {% endfor %}
				{% endcapture %}
				{% assign category = key.action | split: ":" | first | capitalize %}
				<code title="{{ category }}: {{ action | strip }}">{{ key.action }}</code>
			</td>
			<td>{{ key.note }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
